@import '../features/shared/theme/index.css';
@import '../features/shared/theme/dark-mode.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
  min-height: 100vh;
  min-width: 100%;
}

button {
  cursor: pointer;
}
